<html>

<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}{{ config.title }}{% endblock title %}</title>

    <style class="anchorjs"></style>
    <link rel="stylesheet" href="{{ get_url(path="theme.css") | safe }}" type="text/css">

    <script src="{{ get_url(path="js/modernizr.min.js") | safe }}"></script>
    
    <!-- Preload the theme fonts -->

    <link rel="preload" href="{{ get_url(path="fonts/FreightSans/freight-sans-book.woff2") | safe }}" as="font" type="font/woff2"
        crossorigin="anonymous">
    <link rel="preload" href="{{ get_url(path="fonts/FreightSans/freight-sans-medium.woff2") | safe }}" as="font" type="font/woff2"
        crossorigin="anonymous">
    <link rel="preload" href="{{ get_url(path="fonts/IBMPlexMono/IBMPlexMono-Medium.woff2") | safe }}" as="font" type="font/woff2"
        crossorigin="anonymous">
    <link rel="preload" href="{{ get_url(path="fonts/FreightSans/freight-sans-bold.woff2") | safe }}" as="font" type="font/woff2"
        crossorigin="anonymous">
    <link rel="preload" href="{{ get_url(path="fonts/FreightSans/freight-sans-medium-italic.woff2") | safe }}" as="font" type="font/woff2"
        crossorigin="anonymous">
    <link rel="preload" href="{{ get_url(path="fonts/IBMPlexMono/IBMPlexMono-SemiBold.woff2") | safe }}" as="font" type="font/woff2"
        crossorigin="anonymous">

    <!-- Preload the katex fonts -->

    <link rel="preload" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/fonts/KaTeX_Math-Italic.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/fonts/KaTeX_Main-Regular.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/fonts/KaTeX_Main-Bold.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/fonts/KaTeX_Size1-Regular.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/fonts/KaTeX_Size4-Regular.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/fonts/KaTeX_Size2-Regular.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/fonts/KaTeX_Size3-Regular.woff2" as="font"
        type="font/woff2" crossorigin="anonymous">
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/fonts/KaTeX_Caligraphic-Regular.woff2"
        as="font" type="font/woff2" crossorigin="anonymous">
</head>

<body class="catalyst-body">
    <div class="container-fluid header-holder tutorials-header" id="header-holder">
        <div class="container">
            <div class="header-container">
                <a class="header-logo" href="/">{{ config.title }}</a>

                <div class="main-menu">
                    {% if config.extra.main_menu %}
                        <ul>
                            {% for s in config.extra.main_menu %}
                                <li>
                                    <a href="{{config.base_url ~ s.link}}">{{ s.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>

                <a class="main-menu-open-button" href="#" data-behavior="open-mobile-menu"></a>
            </div>

        </div>
    </div>


    <div class="table-of-contents-link-wrapper">
        <span>Table of Contents</span>
        <a href="#" class="toggle-table-of-contents" data-behavior="toggle-table-of-contents"></a>
    </div>

    <nav data-toggle="wy-nav-shift" class="catalyst-left-menu" id="catalyst-left-menu" style="height: 100%;">
        <div class="catalyst-side-scroll">
            <div class="catalyst-menu catalyst-menu-vertical" data-spy="affix" role="navigation"
                aria-label="main navigation">
                <div class="catalyst-left-menu-search">

                    <div role="search">
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="catalyst-container">
        <div class="catalyst-page-level-bar" id="catalyst-page-level-bar">
            <div class="catalyst-breadcrumbs-wrapper">


                <div role="navigation" aria-label="breadcrumbs navigation">

                    <ul class="catalyst-breadcrumbs">
                        {% if page.ancestors %}
                            {% set l = page.ancestors | length %}
                            {% for parent in page.ancestors %}
                                {% set s = get_section(path=parent, include_pages=false) %}
                                    <li>
                                        {% if loop.index == 1 %}&nbsp;&sol;&nbsp;{% endif %}
                                        <a href="{{s.permalink}}">{{s.title}}</a>
                                        &nbsp;&sol;&nbsp;
                                    </li> 
                            {% endfor %}
                            <li>{{ page.title }}</li>
                        {% endif %}
                    </ul>

                </div>
            </div>
        </div>

        <section data-toggle="wy-nav-shift" id="catalyst-content-wrap" class="catalyst-content-wrap">
            {% block content %}
                <div class="catalyst-content-left">

                    <div class="rst-content">

                        <div role="main" class="main-content" itemscope="itemscope" itemtype="http://schema.org/Article">
                            
                            <article itemprop="articleBody" id="catalyst-article" class="catalyst-article">

                                <h2>{{ page.title }}</h2>
                                <div class="catalyst-left-menu-search">
                                    <input id="search" type="text" name="q" placeholder="Search">
                                </div>

                                <h2>Results</h1>
                                <div class="search-results">
                                    <div class="search-results__header"></div>
                                    <ul class="search-results__items"></ul>
                                </div>
                                
                            </article>

                        </div>
                        <footer>


                            <hr>

                            <div>
                                Built with <a href="http://sphinx-doc.org/">Sphinx</a> using a <a
                                    href="https://github.com/rtfd/sphinx_rtd_theme">theme</a> provided by <a
                                    href="https://readthedocs.org">Read the Docs</a>.
                            </div>


                        </footer>

                    </div>
                </div>

                <div class="catalyst-content-right" id="catalyst-content-right" style="height: 100%;">
                    <div class="catalyst-right-menu" id="catalyst-right-menu" style="top: 0px;">
                        <div class="catalyst-side-scroll" id="catalyst-side-scroll-right" style="height: 397px;">
                        </div>
                    </div>
                </div>
            {% endblock %}
        </section>
    </div>


    <script type="text/javascript" id="documentation_options" data-url_root="./"
        src="{{ get_url(path="js/documentation_options.js") | safe }}"></script>
    <script src="{{ get_url(path="js/jquery.js") | safe }}"></script>
    <script src="{{ get_url(path="js/underscore.js") | safe }}"></script>
    <script src="{{ get_url(path="js/doctools.js") | safe }}"></script>




    <script type="text/javascript" src="{{ get_url(path="js/popper.min.js") | safe }}"></script>
    <script type="text/javascript" src="{{ get_url(path="js/bootstrap.min.js") | safe }}"></script>
    <script type="text/javascript" src="{{ get_url(path="js/theme.js") | safe }}"></script>

    <script src="{{ get_url(path="elasticlunr.min.js") | safe }}"></script>
    <script src="{{ get_url(path="search_index.en.js") | safe }}"></script>
    <script src="{{ get_url(path="search.js") | safe }}"></script>

    <script type="text/javascript">
        jQuery(function () {
            SphinxRtdTheme.Navigation.enable(true);
        });
    </script>

    <!-- Begin Footer -->

    <footer class="" id="site-footer">
    
    </footer>


    <!-- End Footer -->

    <!-- Begin Mobile Menu -->

    <div class="mobile-main-menu">
        <div class="container-fluid">
            <div class="container">
                <div class="mobile-main-menu-header-container">
                    <a class="header-logo" href="https://catalyst-team.com/" aria-label="Catalyst"></a>
                    <a class="main-menu-close-button" href="#" data-behavior="close-mobile-menu"></a>
                </div>
            </div>
        </div>

        <div class="mobile-main-menu-links-container">
            <div class="main-menu">
                {% if config.extra.main_menu %}
                    <ul>
                        {% for s in config.extra.main_menu %}
                            <li>
                                <a href="{{config.base_url ~ s.link}}">{{ s.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        </div>
    </div>

    <!-- End Mobile Menu -->

    <script type="text/javascript" src="{{ get_url(path="js/anchor.min.js") | safe }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            mobileMenu.bind();
            mobileTOC.bind();
            catalystAnchors.bind();
            sideMenus.bind();
            scrollToAnchor.bind();
            highlightNavigation.bind();
            mainMenuDropdown.bind();

            // Add class to links that have code blocks, since we cannot create links in code blocks
            $("article.catalyst-article a span.pre").each(function (e) {
                $(this).closest("a").addClass("has-code");
            });
        })
    </script>

</body>

</html>